*{
    margin: 0;
    padding: 0;
    background-color: #F0E3CA;
}


header {
    background-color:#1B1A17;
    height: 60px;
    position: fixed;
    z-index: 1;
}

.link-header {
    padding-left: 50px;
    background-color: #1B1A17;
    text-decoration: none;
    color: white;
}

#logo {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#1B1A17;
    color: #A35709;
    text-decoration: none;
}

#searchbar {
    color: black;
    margin-left: 70px;
    
}

#header-button {
    color: #1B1A17;
    background-color: #A35709;
    border-color: white;
}

main {
    position: relative;
    top: 60px;
}

.main-headings {
    text-align: center;
    background-color: #FF8303;
}

div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
}

#box1 {
    background-image: url(pizza.jpg);
    background-size: cover;
}

#box2 {
    background-image: url(shawarma.jpg);
    background-size: cover;
}

#box3 {
    background-image: url(burger.jpg);
    background-size: cover;
}

#box4 {
    background-image: url(fries.jpg);
    background-size: cover;
    
}

#box5 {
    background-image: url(drink.jpg);
    background-size: cover;
}

#box6 {
    background-image: url(raita.jpg);
    background-size: cover;
}

footer {
    margin-top: 90px;
    background-color: #1B1A17;
}

.footer-para {
    color: white;
    background-color: #1B1A17;
}

#order-form {
    margin-top: 50px;
}

#page2-footer {
    display: block;
    bottom: 0px;
}

