*{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: black;
    height: 60px;
}

#logo {
    color: #f08804;
    font-size: 25px;
}

.header-section {
    color: white;
    padding-left: 200px;

}

#inp-search-bar {
    margin-left: 300px;
}

#header-button {
    background-color: #f08804;
}

#main {
    height: 1000px;
    background-color: #f08804;
}

.menu-div {
    font-size: 25px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    height: 100px;
    width: 100px;
    display: inline-block;
    padding: 35px;
    margin-top: 10px;
    margin-right: 75px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#menu-heading {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    background-color: rgb(116, 27, 2);
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
    margin-top: 20px;
}

table {
    font-size: 30px;
    background-color: #ffffff;
    padding: 50px;
    border-style: dotted;
    border-color: #000000;
}

#footer {
    height: 65px;
    color: #ffffff;
    background-color: #000000;
}