*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container1 {
    height: 75px;
    background-color: #0f1111;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding: 0 30px;         
}

a {
    text-decoration: none;
    color: white;
}

#logo a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #f08804;

}

.search-group {
    display: flex;
    gap: 2px;
}

#search-button {
    background-color: #f08804;
}



#card-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-color: aliceblue;
}

body {
    background-color: aliceblue;
}

.main-headings {
    font-size: 32px;
    color: #000000;
    background-color: #749da1;
    border: 1px solid black;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.card {
    width: 260px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 12px;
    background-color: #0f1111;
    color: #ffffff;


    display: flex;
    flex-direction: column; 
    margin: 25px;
    gap: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition:
    transform 0.4s ease-out,
    box-shadow 0.4s ease-out,
    opacity 0.4s ease-out;

}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    opacity: 0.98;
}


.card-button {
    cursor: pointer;
    padding: 8px 14px;
    border-radius: 6px;
    background: #2563eb;
    color: white;

    transition: 
    transform 0.2s,
    background-color 0.2s;
}

.card-button:hover {
    transform: scale(1.05);
    background-color: #1d4ed8;
}

#kitchen-story-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    height: 65px;
    background-color: #0f1111;
    margin-top: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
